# Customer Churn Analysis And Prediction

In [21]:
import numpy as np
import pandas as pd

data = pd.read_csv("data\Customer_Churn_Records.csv")

In [22]:
%autosave 1

Autosaving every 1 seconds

In [23]:
%matplotlib inline

In [24]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
0,619,42,2,0.00,1,1,1,101348.88,1,1,2,464
1,608,41,1,83807.86,1,0,1,112542.58,0,1,3,456
2,502,42,8,159660.80,3,1,0,113931.57,1,1,3,377
3,699,39,1,0.00,2,0,0,93826.63,0,0,5,350
4,850,43,2,125510.82,1,1,1,79084.10,0,0,5,425

In [25]:
data.shape

(10000, 12)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CreditScore         10000 non-null  int64
 1   Age                 10000 non-null  int64
 2   Tenure              10000 non-null  int64
 3   Balance             10000 non-null  float64
 4   NumOfProducts       10000 non-null  int64
 5   HasCrCard           10000 non-null  int64
 6   IsActiveMember      10000 non-null  int64
 7   EstimatedSalary     10000 non-null  float64
 8   Exited              10000 non-null  int64
 9   Complain            10000 non-null  int64
 10  Satisfaction Score  10000 non-null  int64
 11  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 937.6 KB

In [27]:
data.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203800,0.204400,3.013800,606.515100
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402842,0.403283,1.405919,225.924839
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000,1.000000,119.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.000000,2.000000,410.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,0.000000,3.000000,605.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,0.000000,4.000000,801.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000,5.000000,1000.000000

**No null Values**

In [28]:
df = data.copy()
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
0,619,42,2,0.00,1,1,1,101348.88,1,1,2,464
1,608,41,1,83807.86,1,0,1,112542.58,0,1,3,456
2,502,42,8,159660.80,3,1,0,113931.57,1,1,3,377
3,699,39,1,0.00,2,0,0,93826.63,0,0,5,350
4,850,43,2,125510.82,1,1,1,79084.10,0,0,5,425

In [29]:
df.columns.nunique()

12

# Building ML Predictive Model

In [30]:
# Scale Features
from sklearn.preprocessing import StandardScaler
df.ffill(inplace=True)

if df.shape == 1: 
        pass
else:
        scaler = StandardScaler()
        scaled_data = scaler.fit_transform(df)

# Step 2: Feature Engineering

# Feature Selection
selected_features = df.drop(['Exited'], axis=1)
target_variable = df['Exited']
scaled_data.shape

(10000, 12)

In [31]:
# Step 3: Model Selection and Training

# Split data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(selected_features, target_variable, test_size=0.2, random_state=42)

# Train and Evaluate Models
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score

# Random Forest Classifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)

In [36]:
new = pd.read_csv(r'C:\Users\shame\Desktop\bank\data\cc.csv')
rf_model.predict(new)

array([1], dtype=int64)

In [33]:
# Calculate accuracy
rf_accuracy = accuracy_score(y_test, rf_predictions)
# Calculate Precision
precision = precision_score(y_test, rf_predictions)
# Calculate Recall
recall = recall_score(y_test, rf_predictions)
# Calculate F1-score
f1 = f1_score(y_test, rf_predictions)

# Print the results

print("Accuracy score:",rf_accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy score: 0.999
Precision: 0.9974554707379135
Recall: 0.9974554707379135
F1-score: 0.9974554707379135

In [34]:
import pickle

# Specify the file path where you want to save the model
model_file_path = r"C:\Users\shame\Desktop\bank\rf_model"

# Save the model to a file
with open(model_file_path, 'wb') as file:
    pickle.dump(rf_model, file)

print(f'Model saved to {model_file_path}')

Model saved to C:\Users\shame\Desktop\bank\rf_model

# To deploy the model for a new data,following steps can be followed-

1. Read new data:   new_data = pd.read_csv('new_data.csv')
2. Preprocess the new data
3. Apply feature engineering
4. Scale the features
5. Use the final_model.predict() function to make predictions